.selection
{
    position: fixed;
    width: 240px;
    height: 480px;
    left: 0;
    background-color: rgb(255, 244, 230);
}
.selectionRow
{
    display: flex;
    flex-direction: row;
}
.inputNumber
{
    height: 25px;
}
.inputButton
{
    height: 31px;
}