.dayBlock
{
    height: 40px;
    width: 60px;
    border: 5px dashed #0FA415;

    margin: 3px;
}
.dayBlock.dayOff
{
    border: 5px dashed #a83242;
}
.dayBlock.notCurrentMonth
{
    border: 5px dashed #bbbbbb;
}
.day
{
    font-size: 29px;
    margin: 0px;
}